* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 12px;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: aqua;
    font-size: 1.05rem;
}

main hr {
    height: 2.5px;
    background-color: cyan;
    margin: 25px 40px;
}

.left {
    font-size: 1.5rem;
    color: white;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
}

.leftSection .btn {
    background-color: rgb(88, 235, 186);
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px 4px;
    font-size: 15px;
    cursor: pointer;
}

.leftSection .btn a:hover{
    color: red;
    font-size: 1.02rem;
}

.rightSetion {
    width: 50%;
}

.name {
    color: rgb(88, 235, 186);
}

#element {
    color: rgb(88, 235, 186);
}

.secondSection {
    max-width: 90vw;
    margin: auto
}

.secondSection h1 {
    text-shadow: 5px 5px 5px black;
}

.T1 {
    height: 100px;
    width: 100%;
    text-align: center;
    border: 2px solid black;
}

.t1 th {
    border: 2px solid #adeaad;
}

.T1 td {
    border: 2px solid #adeaad;
}

.thirdSection {
    max-width: 90vw;
    margin: auto;
}

.thirdSection h1 {
    text-shadow: 5px 5px 5px black;
}

.thirdSection .text {
    color: rgb(52, 52, 52);
}

.forthSection {
    max-width: 90vw;
    margin: auto;
}

.forthSection h1 {
    text-shadow: 5px 5px 5px black;
}

footer {
    background-color: black;
    /* height: 150px; */
}

.footer {
    display: flex;
    padding: 10px 10px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}